html {
    font-size: 16px;
    color: rgba(75, 0, 0, 0.758);
}

body {
    background-color: rgba(250, 231, 215, 0.692);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#img-div {
    background-color: azure;
    padding: 1%;
    border-radius: 15px;
}

#image {
    display: block;
    max-width: 100%;
    margin: auto;
    height: auto;
    border-radius: 10px;
}

ul {
    text-align: left;
    text-align: justify;
}

li {
    margin: 16px 0;
}

#tribute-info {
    width: 600px;
    margin: auto;
}

a {
    color: chocolate;
}